In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
test = pd.read_pickle('Pics/one_res/results.pkl')

In [3]:
test.head()

               name                                            feature
0      5790D4-1.jpg  [0.44893, 0.180701, 0.050625, 0.0, 0.0286419, ...
1  AB101M45JJ-1.jpg  [0.0, 0.0168546, 0.0, 0.0, 0.0, 0.0, 0.0, 0.00...
2  AB107M45JJ-1.jpg  [0.0, 0.0876583, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3  AB109W45JJ-1.jpg  [0.0, 0.0414844, 0.000525423, 0.0, 0.0291193, ...
4  AB753W45JJ-1.jpg  [0.0, 0.000399219, 0.0, 0.0, 0.0, 0.0, 0.0, 0....

In [4]:
#test['feats'] = test['feats'].apply(lambda x: eval(x))

In [5]:
type(test['feature'][0])

numpy.ndarray

In [6]:
x = list(test['feature'])
nbrs = NearestNeighbors(n_neighbors=25, algorithm='ball_tree').fit(x)
distances, indices = nbrs.kneighbors(x)

In [7]:
test = test.assign(nbors = list(indices))
test = test.assign(dist = list(distances))

In [8]:
test.head()

,name,feature,nbors,dist
0,5790D4-1.jpg,"[0.44893, 0.180701, 0.050625, 0.0, 0.0286419, ...","[0, 32537, 31679, 32400, 20669, 28669, 19611, ...","[0.0, 7.22778763527, 7.51708884191, 7.59965286..."
1,AB101M45JJ-1.jpg,"[0.0, 0.0168546, 0.0, 0.0, 0.0, 0.0, 0.0, 0.00...","[1, 39897, 2, 39321, 39894, 39322, 39371, 3987...","[0.0, 3.20873942206, 3.38035631042, 3.66045870..."
2,AB107M45JJ-1.jpg,"[0.0, 0.0876583, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[2, 1, 39897, 40047, 39371, 39792, 39489, 3989...","[0.0, 3.38035631042, 4.35348814463, 4.45875260..."
3,AB109W45JJ-1.jpg,"[0.0, 0.0414844, 0.000525423, 0.0, 0.0291193, ...","[3, 12, 41817, 41569, 41573, 41637, 41571, 414...","[0.0, 3.16097271802, 3.16367153068, 4.22530006..."
4,AB753W45JJ-1.jpg,"[0.0, 0.000399219, 0.0, 0.0, 0.0, 0.0, 0.0, 0....","[4, 8, 5, 9, 10, 12, 41647, 41568, 41832, 4150...","[0.0, 2.57748982958, 2.80388813834, 3.59858303..."

In [9]:
test['nbors_names'] = test['nbors'].apply(lambda x: [test['name'][i] for i in x])

In [10]:
test.head()

,name,feature,nbors,dist,nbors_names
0,5790D4-1.jpg,"[0.44893, 0.180701, 0.050625, 0.0, 0.0286419, ...","[0, 32537, 31679, 32400, 20669, 28669, 19611, ...","[0.0, 7.22778763527, 7.51708884191, 7.59965286...","[5790D4-1.jpg, LR5831Y84JJ-1.jpg, LR5116Y44CT-..."
1,AB101M45JJ-1.jpg,"[0.0, 0.0168546, 0.0, 0.0, 0.0, 0.0, 0.0, 0.00...","[1, 39897, 2, 39321, 39894, 39322, 39371, 3987...","[0.0, 3.20873942206, 3.38035631042, 3.66045870...","[AB101M45JJ-1.jpg, NK5933Y45JJ-1.jpg, AB107M45..."
2,AB107M45JJ-1.jpg,"[0.0, 0.0876583, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[2, 1, 39897, 40047, 39371, 39792, 39489, 3989...","[0.0, 3.38035631042, 4.35348814463, 4.45875260...","[AB107M45JJ-1.jpg, AB101M45JJ-1.jpg, NK5933Y45..."
3,AB109W45JJ-1.jpg,"[0.0, 0.0414844, 0.000525423, 0.0, 0.0291193, ...","[3, 12, 41817, 41569, 41573, 41637, 41571, 414...","[0.0, 3.16097271802, 3.16367153068, 4.22530006...","[AB109W45JJ-1.jpg, AB934W45JJ-1.jpg, TB3961W45..."
4,AB753W45JJ-1.jpg,"[0.0, 0.000399219, 0.0, 0.0, 0.0, 0.0, 0.0, 0....","[4, 8, 5, 9, 10, 12, 41647, 41568, 41832, 4150...","[0.0, 2.57748982958, 2.80388813834, 3.59858303...","[AB753W45JJ-1.jpg, AB824W45JJ-1.jpg, AB755W45J..."

In [11]:
test_json = {}
for idx, name in enumerate(test['name']):
    test_json[name] = test['nbors_names'][idx]

In [12]:
test_json['5790D4-1.jpg']

['5790D4-1.jpg',
 'LR5831Y84JJ-1.jpg',
 'LR5116Y44CT-1.jpg',
 'LR5697Y45SQ-1.jpg',
 'ER5712PT4JJ-1.jpg',
 'ER98659ALZJJ-1.jpg',
 'ER4113Y44JJ-1.jpg',
 'ER10751K44JJ-1.jpg',
 'ER5471W44JJ-1.jpg',
 'ER5471PT4JJ-1.jpg',
 'LR6170M45JJ-1.jpg',
 'ER98485W44JJ.CSD3-1.jpg',
 'ER10060K44JJ-1.jpg',
 'LR6811-7SVJAM-1.jpg',
 'ER12627S3Y44JJ-1.jpg',
 'ER5471ALZJJ-1.jpg',
 'ER11743R4T84JJ-1.jpg',
 'ER10060Y44JJ-1.jpg',
 'ER5439PT4JJ-1.jpg',
 'ER5439ALZJJ-1.jpg',
 'LR50116T84JJ-1.jpg',
 'ER11722R4Y44JJ-1.jpg',
 'ER10027K83JJ-1.jpg',
 'LR5697Y45GN-1.jpg',
 'LR4972Y44GN-1.jpg']

In [13]:
len(test_json) == len(test)

True

In [14]:
# with open("neighbors_model_1.json", "w") as text_file:
#     text_file.write("{}".format(str(test_json)))

In [15]:
import json
  
json = json.dumps(test_json)
f = open("neighbors_model_1.json","w")
f.write(json)
f.close()

In [16]:
len(test_json)

54778

In [17]:
import glob

fdr = glob.glob('Pics/one/*.jpg')

In [18]:
len(fdr)

54778

In [21]:
54778/60/60

15.216111111111111